{% extends 'base.html' %}

{% block title %}Присоединиться{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Art-Vostorg Team</h1>
    <p class="fs-5 text-muted">Присоединяйся к нашей команде</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Резидент объединения</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Комбинаторное направление художника-куратора</li>
            <li>Организовывывают арт-проекты с кураторами</li>
            <li>Участвуют в проектах объединения</li>
            <li>Помогают в организации мероприятий</li>
          </ul>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTUTj_R61Y6XTtvrKZFgSir8nf3tdBQkXEb_x6vS6jDDm8Gg/viewform" target="_blank" class="w-100 btn btn-lg btn-outline-primary">Подать заявку</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Художник</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Не нужно учавствовать в организации</li>
            <li>Медиахудожники, музыканты, актеры и др.</li>
            <li>Находится в поисках куратора или проекта</li>
            <li>Сможет продвигать своё творчество</li>
          </ul>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScH6A7ejT7kb9hVOClHw_HypOomG1XgtNcWvZv7Vra7DKfyow/viewform" target="_blank" class="w-100 btn btn-lg btn-primary">Подать заявку</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Куратор объединения</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Разрабатывают идеи и концепции экспозиций</li>
            <li>Взаимодействуют с художниками</li>
            <li>Организуют выставки</li>
            <li>Может быть художником</li>
          </ul>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0GkHCBDId1ZDYYi7aswLvRjWKqOKtqyT7FX9daa-pPR5UMQ/viewform" target="_blank" class="w-100 btn btn-lg btn-primary">Подать заявку</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}